@using CaptaineMoodle.Areas.Identity.Data
@using CaptaineMoodle.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

@model IEnumerable<Course>


@{
    ViewBag.Title = "All Courses";
}

<h1>All Courses</h1>

@if(Model.Any())
{
    @if(User.IsInRole("Teacher") || User.IsInRole("Admin") )
    {
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="createcourse"
       asp-controller="courses">Add new course</a>
    }

foreach (var course in Model)
    {
        if (User.IsInRole("Admin") || User.IsInRole("Student") || @course.CreatorId == (@UserManager.GetUserId(User)))
        {
            <div class="card mb-3">
            <div class="card-header">
                Course name : @course.Name
            </div>
            <div class="card-body">
                <h5 class="card-title">Description: @course.Description</h5>
                <h5 class="card-title"> Course start: @course.Start</h5>
                <h5 class="card-title">Course end: @course.End</h5>
            </div>

            @if(User.IsInRole("Student"))
            {  
                @if(!@course.UsersId.Contains(@UserManager.GetUserId(User)+";"))
                {
                    @using (Html.BeginForm("Suscribe", "Courses", new { Id = @course.Id }, FormMethod.Post))
                        {
                            <button class="btn btn-primary m-3">Subscribe</button>

                        }
                }
                else
                {
                    @using (Html.BeginForm("UnSuscribe", "Courses", new { Id = @course.Id }, FormMethod.Post))
                        {
                            <button class="btn btn-danger m-3">Unsubscribe</button>
                        }
                }

            }
            else
            {
                <div class="card-footer">
                <a asp-controller="courses" asp-action="Edit" asp-route-id="@course.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="courses" asp-action="Delete" asp-route-id="@course.Id" class="btn btn-danger">Delete</a>
                </div>
            }
           
        </div>
        }
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No courses created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a course
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="courses" asp-action="CreateCourse">
                Create Course
            </a>
        </div>
    </div>
}