@using CaptaineMoodle.Models

@model IEnumerable<Course>

@{
    ViewBag.Title = "All Courses";
}

<h1>All Courses</h1>

@if(Model.Any())
{
    @if(User.IsInRole("teacher") || User.IsInRole("admin") )
    {
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="createcourse"
       asp-controller="courses">Add new course</a>
    }

    foreach (var course in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Course name : @course.Name
            </div>
            <div class="card-body">
                <h5 class="card-title">Description: @course.Description</h5>
                <h5 class="card-title"> Course start: @course.Start</h5>
                <h5 class="card-title">Course end: @course.End</h5>
            </div>

            @if(User.IsInRole("student"))
            {
                <div class="card-footer">
                <a asp-controller="courses" asp-action="suscribe" asp-route-id="@course.Id" class="btn btn-primary">Suscribe</a>
                </div>
            }
            else
            {
                <div class="card-footer">
                <a asp-controller="courses" asp-action="EditCourse" asp-route-id="@course.Id" class="btn btn-primary">Edit</a>
                </div>
            }
           
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No courses created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a course
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="courses" asp-action="CreateCourse">
                Create Course
            </a>
        </div>
    </div>
}